.quiz-item {
  display: flex;
  padding-right: 48px;
  margin-bottom: 36px;
  .quiz-no {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    margin-right: 16px;
    background: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 0.75rem;
    font-weight: 600;
  }

  .quiz-content {
    flex: 1;
    .quiz-question {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      color: #353535;
      margin-bottom: 0.75rem;
    }

    .quiz-answer {
      display: flex;
      align-items: center;
      position: relative;
      padding: 16px 0.75rem;
      border-radius: 0.75rem;
      border: 1px solid #d9d9d9;
      width: 320px;
      background-color: #fff;
      margin-bottom: 16px;

      .quiz-answer-editor {
        flex: 1;
        &:focus-visible {
          outline: 0;
        }
      }
    }

    .quiz-answer-success {
      padding: 16px 1.5rem;
      border: 1px solid var(--bs-success);
      color: var(--bs-success);
      background-color: rgba(39, 174, 96, 0.1);
      font-weight: 600;
      font-size: 1rem;
      line-height: 22px;
      color: #27ae60;
    }

    .quiz-answer-revealed {
      padding: 16px 1.5rem;
      background: rgba(226, 185, 59, 0.05);
      border: 1px solid #e2b93b;
      border-radius: 0.75rem;
      font-weight: 600;
      font-size: 1rem;
      line-height: 22px;
      color: #e2b93b;
    }

    .quiz-point {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #006189;
    }
  }
}
