input[type="text"] {
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #89959a;
	font-size: 1rem;
	font-weight: 400;
	line-height: 150%;
}

.gradeable-textbox {
	display: inline-block;
	width: auto;
	min-width: 4.5rem;
	text-align: center;
	min-height: 1.37rem;
	height: 1.37rem;
	outline: none;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #89959a;
}

.gradeable-textbox-area {
	display: inline-block;
	position: relative;
	padding: 0 5px;
}

.gradeable-textbox.correct {
	color: #7dc237;
	border-bottom-color: #7dc237;
}
.gradeable-textbox.revealed {
	color: #ecad0f;
	border-bottom-color: #ecad0f;
}

.gradable-question-area {
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 150%;
}
