.module-overview {
  border: 1px solid #d7d7d7;
  padding: 1.5rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  &:hover {
    border: 1px solid var(--bs-primary);
    cursor: pointer;
    background-color: rgba(204, 233, 245, 0.15);
  }

  .module-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .module-header__left {
      display: flex;
      align-items: center;

      .module-icon {
        padding: 0.75rem;
        margin-right: 0.75rem;
        background: rgba(0, 97, 137, 0.1);
        border-radius: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          color: #006189;
        }
      }
      .module-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #404040;
      }
    }

    .module-header__right {
    }
  }

  .module-body {
    transition: all 0.5s;
    height: 90px;

    .progress-value {
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 18px;
      text-transform: uppercase;
      color: #808080;
    }
    .module-info {
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.3em;
      }
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #606060;
    }

    &.collapsed {
      height: 0px;
      opacity: 0;
      overflow: hidden;
    }
  }
}
